<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="email" placeholder="Enter Email" name="email"><br><br>
            <input type="password" placeholder="Enter Password" name="p3"><br><br>
            <input type="password" placeholder="Re-Password" name="p4"><br><br>
            <input type="text" placeholder="Enter OTP" name="otp"><br><br>
            <button type="submit">change password</button><br><br>
        </form>
        {% if err %}
            <p>{{ err }}</p>
        {% endif %}
    </div>
</body>
</html>